.vscode/

# Generated
.mypy_cache/
.pytest_cache/

# From https://github.com/github/gitignore/blob/main/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# From pytest-coverage
.coverage